.mb-3 {
    margin-bottom: 15px;
}
.nav-link:hover {
  background-color: #b6d7f4; 
  color: #214b6c; 
  border-radius: 5px;
}
.navbar-nav {
  justify-content: center; 
  flex-grow: 1;} 
.navbar{
background-color:#ededed;
position: sticky; 
top: 5px;
width: 100%; 
z-index: 10;
}

#Encabezado{
  text-align: center;
  font-size: 0.6cm;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif
}
.logo {
  max-height: 80px; 
  object-fit: contain; 
}

.carousel-item img {

    max-height: 500px; 
    width: auto;   
    object-fit:contain;
    margin: auto;

}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 5px;
}
#noticiasSlider{
  padding-top: 50px;
}